<div class = "sendmoney">

<div class = "form">
                    <img id="image" class="sendimage" src="assets/send.png" /> 
    <div class = "formcontent">
    <p class = "heading">
<B>SEND MONEY</B></p>
<form [formGroup]="sendForm" (ngSubmit)="send(sendForm.value, sendForm.valid)">
    <input type="text" id="receiver" formControlName="emailphone" class="form-control" placeholder="Email address/Phone no." required> 
    <div [hidden]=sendForm.controls.emailphone.pristine>
    <div [hidden]=sendForm.controls.emailphone.valid class="alert alert-danger">Please enter valid email or phone number!</div></div>
    <br>

    <input type="text" id="sendamount" class="form-control" formControlName="sendamount" placeholder="Enter amount to be sent">
    <div [hidden]=sendForm.controls.sendamount.pristine>
    <div [hidden]=sendForm.controls.sendamount.valid class="alert alert-danger">Please enter amount below 10000!</div></div>
    <br>
	<input type="submit" name="send" class="sendButton" value="SEND">
</form>
</div>
</div>
</div>