<div class="container">
        <div class="card card-container" > 
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
                         <img id="profile-img" class="profile-img-card" src="assets/icon.png" /> 

            <p id="profile-name" class="profile-name-card"></p>
            <form [formGroup]="registerForm" (ngSubmit)="Register(registerForm.value, registerForm.valid)" class="form-register">
                <input type="text" id="inputName" class="form-control" formControlName="name" placeholder="First Name" required>
                <div [hidden]=registerForm.controls.name.pristine>
                <div [hidden]=registerForm.controls.name.valid  class="alert alert-danger">Please enter a name!</div></div>
                <br>

                <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required email>
                <div [hidden]=registerForm.controls.email.pristine>
                <div [hidden]=registerForm.controls.email.valid class="alert alert-danger">Please enter a valid email!</div></div>
                <br>
                
                <input type="text" id="inputPhone" class="form-control" formControlName="phone" placeholder="Phone Number" required> 
                <div [hidden]=registerForm.controls.phone.pristine>
                <div [hidden]=registerForm.controls.phone.valid class="alert alert-danger">Please enter a 10 digit phone number!</div></div>
                <br>
                
                <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required password>
                <div [hidden]=registerForm.controls.password.pristine>
                <div [hidden]=registerForm.controls.password.valid class="alert alert-danger">Password should have atleast 1 Uppercase, 1 lowercase, 1 digit, 1 special character and should have min. length of 8! </div></div>
                <br>
                
                <button class="btn btn-lg btn-primary btn-block btn-register" type="submit">Register</button><br>
                	<p class="login">already registered? <a routerLink="/"><U>Login</U></a></p>
            </form><!-- /form -->
            
         </div> <!--/card-container  -->
    </div><!-- /container -->