<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="assets/icon.png" /> <br>

        <form [formGroup]="loginForm" (ngSubmit)="Login(loginForm)" class="form-signin">


            <input type="text" id="inputEmailphone" formControlName="customer_detail" class="form-control" placeholder="Email address/Phone no." required>
            <div *ngIf="loginForm.controls.customer_detail.invalid&&loginForm.controls.customer_detail.dirty" class="alert alert-danger">Please enter a valid email or phone number!</div>
            <br>
            <input type="password" id="inputPassword" formControlName="customer_password" class="form-control" placeholder="Password" required password>
            <div *ngIf="loginForm.controls.customer_password.invalid&&loginForm.controls.customer_password.dirty" class="alert alert-danger">Please enter a password! </div>
            <br>

            <button [disabled]=loginForm.invalid class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
            <div [hidden]="validity" class="alert alert-danger">Not a valid user? Please register.</div>
            <br>

            <p class="new">new user? <a routerLink="/register"><U>create new account</U></a></p>

        </form>

    </div>
</div>