<div class = "addmoney">

<div class = "form">
                <img id="image" class="addimage" src="assets/add.png" /> 

    <div class = "formcontent">
    <p class = "heading">
<B>ADD MONEY TO WALLET</B></p>
<form [formGroup]="addForm" (ngSubmit)="add(addForm)">
    <input type="text" id="amount" class= "form-control" formControlName="amount" placeholder="Enter amount to be added to wallet" required>
    <div *ngIf="addForm.controls.amount.dirty && addForm.controls.amount.invalid" class="alert alert-danger">Please enter amount below 10000!</div>
    
    <input [disabled]="addForm.invalid" type="submit" name="add" class="addButton" value="ADD">
</form>
</div>
</div>
</div>