<div> 
<h1>{{title}}</h1>
    <ul >
      <li class="list-group-item list-group-item-action list-group-item-success" 
      *ngFor="let history of History" (click)="onSelectHistory(history)"
      [class.selected]="history === selectedHistory"
      >
        <p class="historyTag">Transaction id:  {{history.transaction_id}}<br/>
         Sender:  {{history.sender_name}}<br/>
        Amount:  {{history.amount}}  
        Transaction Type:  {{history.transaction_type}}  
        Recievers Name:  {{history.reciever_name}}  
        date of transaction:  {{history.date}}</p>
      </li>
    </ul>
   
  <div>