<!-- <div> 
<h1>{{title}}</h1>
  <div class="individualContainter">    
      <div *ngFor="let history of History" (click)="onSelectHistory(history)" [class.selected]="history === selectedHistory">
          <p class="historyTag">Transaction id:  {{history.transaction_id}}<br/>
          Sender:  {{history.sender_name}}<br/>
          Amount:  {{history.amount}}<br>  
          Transaction Type:  {{history.transaction_type}}<br>  
          Recievers Name:  {{history.reciever_name}}<br>  
          date of transaction:  {{history.date}}</p>
      </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table id="tableReport" class="table table-hover table-striped ">
        <tbody *ngFor="let history of History">
          <tr class="media" id="carga_30" data-id="30">
            
            <td class="media-left">
              <h4>{{history.created_at | date : 'short'}}</h4>
            </td>
            
            <td class="media-body">
              <div *ngIf="history.transaction_type === 1">
                <h4 class="media-heading font-yellow text-bold"><strong>From: </strong>{{history.sender_name}}</h4>
                <span class="label label-success">Credit</span>
                <span><strong>Transaction ID:</strong> {{history.transaction_id}}</span>
                <span><strong>Amount:</strong>{{history.amount}}</span>
              </div>
              
              <div *ngIf="history.transaction_type === 2">
                <h4 class="media-heading font-yellow text-bold"><strong>To: </strong>{{history.receiver_name}}</h4>
                <span class="label label-danger">Debit</span>
                <span><strong>Transaction ID:</strong> {{history.transaction_id}}</span>
                <span><strong>Amount:</strong>{{history.amount}}</span>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
