
<div class = "requestmoney">

<div class = "form">
     <img id="image" class="requestimage" src="assets/request.png" /> 
    <div class = "formcontent">
    <p class = "heading">
<B>REQUEST FOR MONEY</B></p>
<form [formGroup]="requestForm" (ngSubmit)="request(requestForm)">
    
    <input type="text" id="sender" formControlName="emailphone" class="form-control" placeholder="Email address/Phone no." required>
    <div *ngIf="requestForm.controls.emailphone.invalid&&requestForm.controls.emailphone.dirty" class="alert alert-danger">Please enter valid email or phone number!</div>
    <br>
    
    <input type="number" id="requestamount" class="form-control" formControlName="requestamount" placeholder="Enter amount to be requested">
    <div *ngIf="requestForm.controls.requestamount.invalid&&requestForm.controls.requestamount.dirty" class="alert alert-danger">Please enter amount!</div>
    <br>
    
    <input [disabled]=requestForm.invalid type="submit" name="request" class="requestButton" value="REQUEST">
</form>
</div>
</div>
</div>